@if (user) {
  <p-table
    [value]="pages"
    dataKey="id"
    [rows]="10"
    [paginator]="true"
    [loading]="loading"

  >
    <ng-template #header>
      <tr>
        <th style="width:10%">Icon</th>
        <th style="width:56%">Name</th>
        <th style="width:33%">Actions</th>
      </tr>
    </ng-template>

    <ng-template #body let-page>
      <tr>
        <td>
          @if (page.icon !== "") {
            <span [class]="'pi ' + page.icon"></span>
          }
        </td>
        <td>
          <a routerLink="/page" [queryParams]="{index: page.ID}" class="hover:cursor-pointer">{{ page.title }}</a>
        </td>
        <td class="flex flex-row space-x-5">
          @if (hasPermission(user, Perm.WritePage)) {
            <p-button routerLink="/settings/wizard/page" [queryParams]="{pageId: page.ID}"
                      pTooltip="Edit page" tooltipPosition="bottom" icon="pi pi-file-edit" severity="info"/>
          }

          @if (hasPermission(user, Perm.DeletePage)) {
            <p-button (click)="remove(page)"
                      pTooltip="Delete Page" tooltipPosition="bottom" icon="pi pi-trash" severity="danger"/>
          }
          <p-button [disabled]="isFirst(page)" (click)="moveUp(page)" icon="pi pi-sort-up-fill" severity="secondary"/>
          <p-button [disabled]="isLast(page)" (click)="moveDown(page)" icon="pi pi-sort-down-fill"
                    severity="secondary"/>
        </td>
      </tr>
    </ng-template>

    <ng-template #caption>
      @if (hasPermission(user, Perm.WritePage)) {
        <div class="flex flex-grow justify-end">
          <p-button routerLink="/settings/wizard/page"
                    label="New Page" icon="pi pi-user-plus"/>
        </div>
      }
    </ng-template>
  </p-table>

}
