@if (user) {

  <div cdkDropList
       *transloco="let t;prefix:'settings.pages'"
       class="flex flex-col space-y-5"
       (cdkDropListDropped)="drop($event)"
  >

    <p-card *ngFor="let page of pages" cdkDrag>
      <div class="flex flex-row justify-between items-center">
        <span class="pi pi-arrows-alt hover:cursor-pointer" cdkDragHandle></span>
        <span [class]="'pi ' + page.icon + ' w-16'"></span>
        <a routerLink="/page" [queryParams]="{index: page.ID}" class="hover:cursor-pointer">{{ page.title }}</a>

        <div class="flex-grow flex flex-row justify-end space-x-5">
          @if (hasPermission(user, Perm.WritePage)) {
            <p-button routerLink="/settings/wizard/page" [queryParams]="{pageId: page.ID}"
                      [pTooltip]="t('actions.edit')" variant="outlined"
                      tooltipPosition="bottom" icon="pi pi-file-edit" severity="info"/>
          }

          @if (hasPermission(user, Perm.DeletePage)) {
            <p-button (click)="remove(page)"
                      [pTooltip]="t('actions.delete')" variant="outlined"
                      tooltipPosition="bottom" icon="pi pi-trash" severity="danger"/>
          }
        </div>

      </div>
    </p-card>

  </div>


}
