port: 80
password: "MySuperSecretPassword"
root_dir: "/mnt/data"
root_url: "behind-me"
logging:
  log_level: "INFO"
  source: false
  handler: "json"
pages:
  - title: "Anime (Nyaa)"
    search:
      provider: "nyaa"
      search_modifiers:
        categories:
          title: "Category"
          multi: false
          values:
            - key: "anime"
              name: "Anime"
            - key: "anime-amv"
              name: "Music Video"
            - key: "anime-eng"
              name: "English Translated"
            - key: "anime-non-eng"
              name: "Non-English Translated"
        sortBys:
          title: "Sort"
          multi: false
          values:
            - key: "downloads"
              name: "Downloads"
            - key: "date"
              name: "Date"
            - key: "size"
              name: "Size"
            - key: "seeders"
              name: "Seeders"
            - key: "leechers"
              name: "Leechers"
            - key: "comments"
              name: "Comments"
      root_dirs:
        - "Anime"
      custom_root_dir: "Anime"
  - title: "Anime (SubsPlease)"
    search:
      provider: "subsplease"
      root_dirs:
        - "Anime"
      custom_root_dir: "Anime"
  - title: "Mangadex"
    search:
      provider: "mangadex"
      search_modifiers:
        includeTags:
          title: "Include Tags"
          multi: true
          values:
            - key: "Girls' Love"
              name: "Girls' Love"
            - key: "Official Colored"
              name: "Official Coloured"
            - key: "Isekai"
              name: "Isekai"
        excludeTags:
          title: "Exclude Tags"
          multi: true
          values:
            - key: "Girls' Love"
              name: "Girls' Love"
            - key: "Official Colored"
              name: "Official Coloured"
            - key: "Isekai"
              name: "Isekai"
        status:
          title: "Status"
          multi: true
          values:
            - key: "ongoing"
              name: "Ongoing"
            - key: "completed"
              name: "Completed"
            - key: "hiatus"
              name: "Hiatus"
            - key: "cancelled"
              name: "Cancelled"
        contentRating:
          title: "Content Rating"
          multi: true
          values:
            - key: "safe"
              name: "Safe"
            - key: "suggestive"
              name: "Suggestive"
        publicationDemographic:
          title: "Demographic"
          multi: true
          values:
            - key: "shounen"
              name: "Shounen"
            - key: "shoujo"
              name: "Shoujo"
      root_dirs:
        - "Manga"
      custom_root_dir: "Manga"
  - title: "Manga & Light Novels"
    search:
      provider: "nyaa"
      search_modifiers:
        categories:
          title: "Category"
          multi: false
          values:
            - key: "literature-eng"
              name: "English Literature"
            - key: "literature"
              name: "Literature"
            - key: "literature-non-eng"
              name: "Non English Literature"
            - key: "literature-raw"
              name: "Raw Literature"
        sortBys:
          title: "Sort by"
          multi: false
          values:
            - key: "downloads"
              name: "Downloads"
            - key: "date"
              name: "Date"
            - key: "size"
              name: "Size"
            - key: "seeders"
              name: "Seeders"
            - key: "leechers"
              name: "Leechers"
            - key: "comments"
              name: "Comments"
      root_dirs:
        - "Manga"
        - "LightNovels"
      custom_root_dir: ""
  - title: "Movies"
    search:
      provider: "yts"
      search_modifiers:
        sortBys:
          title: "Sort By"
          multi: false
          values:
            - key: "title"
              name: "Title"
            - key: "year"
              name: "Year"
            - key: "rating"
              name: "Rating"
            - key: "peers"
              name: "Peers"
            - key: "seeds"
              name: "Seeders"
            - key: "download_count"
              name: "Downloads"
            - key: "like_count"
              name: "Likes"
            - key: "date_added"
              name: "Date Added"
      root_dirs:
        - "Movies"
      custom_root_dir: "Movies"
  - title: "Lime"
    search:
      provider: "limetorrents"
      search_modifiers:
        categories:
          title: "Category"
          multi: false
          values:
              - key: "ALL"
                name: "All categories"
              - key: "MOVIES"
                name: "Movies"
              - key: "TV"
                name: "TV"
              - key: "ANIME"
                name: "Anime"
              - key: "OTHER"
                name: "Other"
      root_dirs:
        - "Anime"
        - "Movies"
        - "Manga"
        - "Series"
        - "LightNovels"
      custom_root_dir: ""