<p-dialog
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: customWidth }" header="Directory picker"
>

  <div class="flex flex-col py-5">
    <h1 class="text-xl text-black dark:text-white mb-2">
      Selected: <span class="font-mono">{{ routeStack.items.join('/') }}</span>
    </h1>

    @if (filter) {
      <input
        class="mb-2 w-full p-1 rounded-lg border focus:ring-primary-600 focus:border-primary-600 bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
        type="text"
        placeholder="Filter..."
        (input)="onFilterChange($event)"
      />
    }

    <div class="flex flex-col max-h-48 overflow-auto space-y-2 mb-2">
      @if (currentRoot !== root) {
        <div
          class="flex items-center space-x-2 p-2 rounded-lg border bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white dark:border-gray-600 dropdown-item"
        >
          <ng-icon name="heroFolder" size="16"></ng-icon>
          <span
            class="w-full text-left hover:underline hover:cursor-pointer"
            (click)="goBack()"
          >...</span>
        </div>
      }

      <div class="flex flex-col space-y-2 min-h-40">
        @if (getEntries().length > 0) {
          @for (entry of getEntries(); track $index) {
            <div
              class="flex items-center space-x-2 p-2 rounded-lg border bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white dark:border-gray-600 dropdown-item"
            >
              <ng-icon name="{{ entry.dir ? 'heroFolder' : 'heroDocument' }}" size="16"></ng-icon>
              <span
                class="w-full font-bold text-left {{ entry.dir ? 'hover:underline hover:cursor-pointer' : '' }}"
                (click)="selectNode(entry)"
              >{{ entry.name }}</span>

              <!-- Copy Path Icon (if copy is enabled) -->
              @if (copy) {
                <ng-icon
                  name="heroClipboard"
                  size="16"
                  class="hover:cursor-pointer"
                  (click)="copyPath(entry)"
                ></ng-icon>
              }
            </div>
          }
        }
      </div>
    </div>

    @if (create) {
      <div class="flex items-center space-x-2">
        <input
          class="w-full p-1 rounded-lg border focus:ring-primary-600 focus:border-primary-600 bg-gray-50 text-gray-900 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm"
          type="text"
          placeholder="Create"
          [(ngModel)]="newDirName"
          (input)="onNewDirNameChange($event)"
        />
        <ng-icon
          class="text-black dark:text-white hover:cursor-pointer"
          name="heroPlus"
          size="16"
          (click)="createNew()"
        ></ng-icon>
      </div>
    }
  </div>

  <div class="flex justify-end gap-2">
    <p-button (click)="closeDialog()" label="Cancel" severity="secondary"/>
    <p-button (click)="confirm()" label="Confirm" severity="primary"/>
  </div>

</p-dialog>

