<ng-container *transloco="let t;prefix:'dashboard'">
  <div class="flex flex-col mb-2">

    <h1>{{ info().name }}</h1>

    <div class="flex w-full flex-grow justify-start gap-4">
      <button class="btn btn-secondary" (click)="reverse()">
        <span class="fa fa-arrows-up-down"></span>
      </button>
      <button class="btn btn-secondary" (click)="unselectAll()">
        <span class="fa fa-x"></span>
      </button>
      <button class="btn btn-primary" (click)="selectAll()">
        <span class="fa fa-check"></span>
      </button>
    </div>

    @if (!loading) {
      <div class="max-h-80 overflow-auto">
        <!-- TODO: Display items -->
      </div>
    }

    <div class="flex w-full flex-grow justify-end gap-4 mt-10">
      <button class="btn btn-primary" (click)="close()">
        {{t('cancel')}}
      </button>
      <button class="btn btn-secondary" (click)="submit()">
        {{t('set-filter')}}
      </button>
    </div>
  </div>

</ng-container>
