
<div class="flex flex-col mb-2">

  <h1>{{info.name}}</h1>

  <div class="flex w-full flex-grow justify-start gap-4">
    <p-button icon="pi pi-arrows-v" (click)="reverse()" severity="secondary" />
    <p-button icon="pi pi-times" severity="secondary" (click)="unselectAll()" />
    <p-button icon="pi pi-check" severity="primary" (click)="selectAll()" />
  </div>

  <div class="max-h-80 overflow-auto">
    <p-tree [value]="content"
            selectionMode="checkbox"
            styleClass="w-full"
            [(selection)]="selection"
    />
  </div>


  <div class="flex w-full flex-grow justify-end gap-4 mt-10">
    <p-button label="Cancel" severity="secondary" (click)="close()" />
    <p-button label="Set filter" (click)="submit()" />
  </div>
</div>
