<p-dialog resizable="false" *transloco="let t;prefix:'dashboard'" [header]="t('content-picker.header')" [(visible)]="visible"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
          [contentStyle]="{ 'overflow-y': 'visible' }" (onShow)="loadContent()">
  <div class="flex flex-col mb-2">

    <h1>{{ info.name }}</h1>

    <div class="flex w-full flex-grow justify-start gap-4">
      <p-button (click)="reverse()" icon="pi pi-arrows-v" severity="secondary"/>
      <p-button (click)="unselectAll()" icon="pi pi-times" severity="secondary"/>
      <p-button (click)="selectAll()" icon="pi pi-check" severity="primary"/>
    </div>

    @if (!loading) {
      <div class="max-h-80 overflow-auto">
        <p-tree [(selection)]="selection"
                [value]="content"
                selectionMode="checkbox"
                styleClass="w-full"
        />
      </div>
    } @else {
      <div class="max-h-80 overflow-auto flex flex-col space-y-5 px-5 mt-5">
        <p-skeleton width="66%" height="25px" *ngFor="let _ of [].constructor(10)" />
      </div>
    }

    <div class="flex w-full flex-grow justify-end gap-4 mt-10">
      <p-button (click)="close()" label="Cancel" severity="secondary"/>
      <p-button (click)="submit()" label="Set filter"/>
    </div>
  </div>

</p-dialog>
