@if (this.loading()) {
  <app-loading-spinner [centered]="true" size="large"></app-loading-spinner>
} @else {
  <div class="w-full" *transloco="let t;prefix:'dashboard'">
    @if (dashboardItems.length() === 0) {
      <app-suggestion-dashboard></app-suggestion-dashboard>
      <app-recently-downloaded></app-recently-downloaded>
    } @else {
      <div class="pt-1 md:pt-5 m-5">
        <app-table
          [items]="dashboardItems.items()"
          [trackByIdFunc]="itemTrackBy"
          [noHoverColour]="true"
          *transloco="let t;prefix:'dashboard.table'"
        >
          <ng-template #header>
            <tr>
              <th style="width:24%">{{ t('name') }}</th>
              <th style="width:5%">{{ t('size') }}</th>
              <th style="width:30%">{{ t('progress') }}</th>
              <th style="width:10%">{{ t('status') }}</th>
              <th style="width:15%">{{ t('actions.label') }}</th>
            </tr>
          </ng-template>

          <ng-template #cell let-info>
            <th>
              @if (info.ref_url === "") {
                <h2 class="text-lg font-semibold">{{ info.name | contentTitle }}</h2>
              } @else {
                <a class="text-lg font-semibold hover:underline" target="_blank" rel="noopener noreferrer"
                   [href]="info.ref_url">{{ info.name | contentTitle }}</a>
              }
            </th>
            <th>
              <span class="font-semibold">{{ info.size }}</span>
            </th>
            <th>
              <div class="relative pt-1 m-2">
                <div class="overflow-hidden h-2 text-xs flex rounded bg-gray-200">
                  <div
                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-blue-500 dark:bg-blue-400"
                    [style.width.%]="info.progress"
                  ></div>
                </div>
                <div class="flex flex-col md:flex-row justify-between text-sm text-gray-500 dark:text-white mt-1">
                  <span>{{ info.speed | speed:info.speed_type }} {{ info.speed_type | speedType }}</span>
                  @if (info.estimated) {
                    <span class="hidden md:inline">{{ info.estimated | time }}</span>
                  }
                  <span>{{ info.progress }}%</span>
                </div>
              </div>
            </th>
            <th>
              <p-tag [value]="info.contentState | contentState" [severity]="getSeverity(info)"/>
            </th>
            <th>
              <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 my-2">

                <app-content-picker-dialog [info]="info" [(visible)]="displayContentPicker[info.id]"/>

                @if (info.contentState == ContentState.Downloading) {
                  <button (click)="browse(info)" class="btn btn-primary" [pTooltip]="t('actions.browse')">
                    <span class="pi pi-folder"></span>
                  </button>
                }

                @if (info.contentState == ContentState.Waiting) {
                  <button (click)="pickContent(info)" class="btn btn-primary" [pTooltip]="t('actions.set-content')" tooltipPosition="bottom">
                    <span class="pi pi-cart-arrow-down"></span>
                  </button>

                  <button (click)="markReady(info)" class="btn btn-secondary" [pTooltip]="t('actions.mark-ready')" tooltipPosition="bottom">
                    <span class="pi pi-check"></span>
                  </button>
                }

                @if (info.contentState !== ContentState.Cleanup) {
                  <button (click)="stop(info)" class="btn btn-error" [pTooltip]="t('actions.stop')" tooltipPosition="bottom">
                    <span class="pi pi-trash"></span>
                  </button>
                }

              </div>
            </th>
          </ng-template>
        </app-table>
      </div>
    }
  </div>
}


