
<div class="pt-1 md:pt-5 mx-16" *transloco="let t;prefix:'notifications'">

  <div class="flex flex-row space-x-5 justify-end mb-5">

    <select class="form-select">
      @for (opt of timeAgoOptions; track opt.value) {
        <option [selected]="timeAgo === opt.value" (click)="timeAgo = opt.value; refresh()">{{opt.label}}</option>
      }
    </select>

    <button class="btn btn-warning" (click)="readSelected()">
      {{ t('actions.read-selected') }}
    </button>

    <button class="btn btn-error" (click)="deleteSelected()">
      {{ t('actions.delete-selected') }}
    </button>


  </div>

  <app-table
    [items]="sortedNotifications()"
    [trackByIdFunc]="trackBy"
    [noHoverColour]="true"
    *transloco="let t;prefix:'notifications.table'"
  >

    <ng-template #header>
      <tr>
        <th>{{t('time')}}</th>
        <th>{{ t('group') }}</th>
        <th>{{ t('title') }}</th>
        <th>{{ t('summary') }}</th>
        <th class="flex flex-row justify-between">
          <span>{{ t('actions.label') }}</span>
          <!-- TODO: Checkbox -->
        </th>
      </tr>

    </ng-template>

    <ng-template #cell let-notification>
      <td>{{notification.CreatedAt | utcToLocalTime:'shortDate'}}</td>
      <td><app-badge [colour]="notification.colour">{{notification.group}}</app-badge></td>
      <td><div [innerHtml]="notification.title"></div></td>
      <td><div [innerHtml]="notification.summary"></div></td>
      <td>
        <div class="flex flex-col md:flex-row justify-between items-center">

          <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 my-2">
            @if (notification.read) {
              <button class="btn btn-primary btn-small" (click)="markUnRead(notification)" [pTooltip]="t('actions.mark-unread')" tooltipPosition="bottom" aria-label="Mark unread">
                <span class="fa fa-circle-check"></span>
              </button>
            } @else {
              <button class="btn btn-warning btn-small" (click)="markRead(notification)" [pTooltip]="t('actions.mark-read')" tooltipPosition="bottom" aria-label="Mark read">
                <span class="fa fa-circle"></span>
              </button>
            }

            <button class="btn btn-primary btn-small" (click)="show(notification.ID)" [pTooltip]="t('extra-info')" tooltipPosition="bottom" aria-label="Show info">
              <span class="fa fa-circle-info"></span>
            </button>

            <button class="btn btn-error btn-small" (click)="delete(notification)" aria-label="Delete notification">
              <span class="fa fa-trash"></span>
            </button>

            <p-dialog [(visible)]="infoVisibility[notification.ID]" [header]="notification.title">
              <span [innerHTML]="formattedBody(notification)"></span>
            </p-dialog>
          </div>

          <!-- TODO: Checkbox -->

        </div>
      </td>
    </ng-template>

  </app-table>

</div>
