<p-dialog
  [(visible)]="visible"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [dismissableMask]="true"
  [draggable]="false"
  [header]="header"
  [resizable]="false" [style]="{ width: '50vw' }"
  *transloco="let t;"
>
  <h1 class="text-xl text-black dark:text-white mb-5">{{ text }}</h1>

  <div class="flex justify-end gap-2">
    <p-button (click)="closeDialog()" [label]="t('shared.cancel') | titlecase" severity="secondary"/>
    <p-button (click)="confirm()" [label]="t('shared.confirm') | titlecase" severity="primary"/>
  </div>
</p-dialog>
