<p-dialog [(visible)]="showDialog" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '50vw' }" [header]="t('header')"
          (onShow)="filterToDisplay()" (onHide)="hide()"
          *transloco="let t;prefix:'settings.preferences.age-rating-mappings'"
>

  <p class="mb-5">
    {{ t('explanation.p1') }}
    <br>
    {{ t('explanation.p2') }}
  </p>

  <div class="mb-5 flex flex-col md:flex-row justify-between space-y-2 md:space-y-0">
    <p-floatlabel variant="on">
      <p-iconfield>
        <p-inputicon class="fa fa-plus hover:cursor-pointer" (click)="addAgeRatingMap()" />
        <input id="newGenre" type="text" pInputText [(ngModel)]="newAgeRating" (keydown.enter)="addAgeRatingMap()">
      </p-iconfield>
      <label for="newGenre">{{ t('new') }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input id="filter" type="text" pInputText [(ngModel)]="filter"
             (ngModelChange)="filterToDisplay()"
      >
      <label for="filter">{{ t('filter') | titlecase }}</label>
    </p-floatlabel>

  </div>

  @if (toDisplay.length === 0) {
    <span>{{ t('empty') }}</span>
  } @else {

    <virtual-scroller #scroll [items]="toDisplay">
      @for (arm of scroll.viewPortItems; track $index) {
        <div class="flex flex-row flex-grow justify-between items-center p-2 mr-3 overflow-clip" style="height: 50px; width: 100%">
          <span>{{arm.tag.name}}</span>
          <p-select [options]="ComicInfoAgeRatings" [(ngModel)]="arm.comicInfoAgeRating" appendTo="body"  />
          <span class="fa fa-trash hover:cursor-pointer" (click)="removeAgeRatingMap(arm)"></span>
        </div>
      }

    </virtual-scroller>
  }

</p-dialog>
