@if (authUser) {
  <div *transloco="let t; prefix: 'settings.users'">

    @if (hasPermission(authUser, Perm.WriteUser) && !emptyUserPresent()) {
      <div class="flex justify-end mb-5">
        <button
          type="button"
          class="btn btn-primary"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>
    }

    <app-table
      [pagination]="true"
      [items]="users"
      [trackByIdFunc]="trackBy"
    >
      <ng-template #header>
        <tr>
          <th class="table-header-cell"></th>
          <th class="table-header-cell">{{ t('name') }}</th>
          <th class="table-header-cell">{{ t('actions.label') }}</th>
        </tr>
      </ng-template>

      <ng-template #cell let-user>
        <td class="table-cell">
          <span class="pi pi-user"></span>
        </td>

        <td class="table-cell">
          {{ user.name }}
        </td>

        <td class="table-cell flex-wrap items-center gap-2">
          @if (user.id === authUser.id) {
            <button
              type="button"
              class="btn btn-small"
              [pTooltip]="t('actions.api-key.regen')"
              tooltipPosition="bottom"
              (click)="resetApiKey()"
            >
              <i class="pi pi-key"></i>
            </button>

            <button
              type="button"
              class="btn btn-small"
              [pTooltip]="t('actions.api-key.copy')"
              tooltipPosition="bottom"
              (click)="copyApiKey()"
            >
              <i class="pi pi-copy"></i>
            </button>
          }

          <button
            type="button"
            class="btn btn-small"
            [pTooltip]="t('actions.edit')"
            tooltipPosition="bottom"

          >
            <i class="pi pi-user-edit"></i>
          </button>

          @if (user.canDelete) {
            <button
              type="button"
              class="btn btn-small text-danger"
              [pTooltip]="t('actions.delete')"
              tooltipPosition="bottom"
              (click)="deleteUser(user)"
            >
              <i class="pi pi-user-minus"></i>
            </button>
          }

          @if (hasPermission(authUser, Perm.WriteUser)) {
            <button
              type="button"
              class="btn btn-small text-warning"
              [pTooltip]="t('actions.reset-password')"
              tooltipPosition="bottom"
              (click)="resetPassword(user)"
            >
              <i class="pi pi-refresh"></i>
            </button>
          }
        </td>
      </ng-template>
    </app-table>
  </div>
}
