<p-dialog [header]="mod.title" [(visible)]="modifierVisible[mod.ID]"
          *transloco="let t;prefix:'settings.pages.wizard.modifiers'"
          (onHide)="onClose.emit()">

  <div class="w-full flex flex-col md:flex-row items-center justify-between space-y-5 md:space-y-0 my-3">
    <div class="flex items-center">
      <p-floatlabel variant="on">
        <label [for]="'title_' + mod.ID" class="font-semibold w-24">{{ t('title') }}</label>
        <input [(ngModel)]="mod.title" [id]="'title_' + mod.ID" autocomplete="off" class="flex-auto" pInputText/>
      </p-floatlabel>
    </div>

    <div class="flex items-center">
      <p-floatlabel variant="on" [pTooltip]="t('check-wiki')">
        <label [for]="'key_' + mod.ID" class="font-semibold w-24">{{ t('key') }}</label>
        <input [(ngModel)]="mod.key" [id]="'key_' + mod.ID" autocomplete="off" class="flex-auto" pInputText/>
      </p-floatlabel>
    </div>

    <div class="flex items-center">
      <p-select [(ngModel)]="mod.type" [options]="typeOptions" class="w-full md:w-56"/>
    </div>
  </div>

  <div class="flex flex-col md:grid md:grid-cols-2 md:gap-4 md:gap-y-10 md:mt-10 md:space-y-0">
    <div *ngFor="let modV of mod.values"
         class="flex flex-col md:flex-row mb-7 md:mb-0 md:mt-0 justify-between items-center">

      <div class="px-2">
        <p-checkbox [inputId]="mod.ID + '_key_' + modV.key + '_default'"
                    [binary]="true" [(ngModel)]="modV.default" [pTooltip]="t('default')"
                    (onChange)="toggleOthers(mod, modV)"
        />
      </div>

      <p-floatlabel>
        <label [for]="mod.ID + '_key_' + modV.key">{{ t('key') }}</label>

        <p-iconfield>
          <p-inputicon (click)="deleteModifierValue(mod, modV.key)"
                       styleClass="pi pi-trash hover:cursor-pointer"></p-inputicon>
          <input [(ngModel)]="modV.key" [id]="mod.ID + '_key_' + modV.key" autocomplete="off" pInputText>
        </p-iconfield>

      </p-floatlabel>

      <span class="pi pi-arrow-right hidden md:flex my-3 md:my-0"></span>
      <span class="pi pi-arrow-down flex md:hidden my-3 md:my-0"></span>

      <p-floatlabel>
        <label [for]="mod.ID + '_val_' + modV.key">{{ t('value') }}</label>
        <input [(ngModel)]="modV.value" [id]="mod.ID + '_val_' + modV.key" autocomplete="off" pInputText>
      </p-floatlabel>

    </div>
  </div>

  <div class="flex flex-row items-center justify-end mt-5">
    <p-button (onClick)="addNewModifierValue(mod)" severity="secondary">
      {{ t('add-new-modifier-value') }}
    </p-button>
  </div>
</p-dialog>
