<p-card [header]="t('header')" *transloco="let t;prefix:'settings.pages.wizard.save'">

  <div class="p-4 space-y-4">
    <p-fieldset [legend]="t('legend')" toggleable>
      <div class="grid grid-cols-2 gap-4">
        <div><strong>{{ t('title') }}</strong> {{ page.title }}</div>
        <div><strong>{{ t('custom-root-dir') }}</strong> {{ page.custom_root_dir }}</div>

        <div class="mt-4">
          <strong>{{ t('dirs') }}</strong>
          <ul class="list-disc ml-5">
            <li *ngFor="let dir of page.dirs">{{ dir }}</li>
          </ul>
        </div>

        <div class="mt-4">
          <strong>{{ t('providers') }}</strong>
          <ul class="list-disc ml-5">
            <li *ngFor="let provider of page.providers">{{ provider | providerName }}</li>
          </ul>
        </div>

      </div>
    </p-fieldset>

    <p-fieldset collapsed [legend]="t('legend-modifiers')" toggleable>
      <div class="grid md:grid-cols-3 gap-4">
        <div *ngFor="let modifier of page.modifiers" class="border border-gray-200 p-3 rounded-lg shadow">
          <h4 class="font-semibold text-lg">{{ modifier.title }}</h4>
          <div class="text-sm text-gray-600">
            <p><strong>{{ t('key') }}</strong> {{ modifier.key }}</p>
            <p><strong>{{ t('values') }}</strong> {{ modifier.values.length }}</p>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>

  <div class="flex flex-row w-full justify-between items-center my-5">
    <div (click)="back.emit()"
         class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-500 text-white rounded-lg shadow-md hover:from-blue-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 hover:cursor-pointer">
      {{ t('back') | titlecase }}
    </div>
    <div (click)="save()"
         class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-500 text-white rounded-lg shadow-md hover:from-blue-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 hover:cursor-pointer">
      {{ t('save') }}
    </div>
  </div>

</p-card>
