<div class="flex flex-col space-y-5 mt-5 mb-2" *transloco="let t;prefix:'page.download-dialog'">

  <div class="card flex w-full">
    <p-floatlabel variant="on">
      <input [(ngModel)]="downloadDir" autocomplete="off" class="w-full p-2"
             id="download_dir" pInputText type="text"/>
      <label for="download_dir">{{ t('directory') }}</label>
    </p-floatlabel>
  </div>

  <div class="flex flex-row flex-grow w-full items-center">
    <label class="w-1/2" for="startImmediately">{{ t('start-now') }}</label>
    <div class="flex flex-row w-1/2 justify-center">
      <p-toggle-switch [(ngModel)]="requestMetadata.startImmediately" id="startImmediately"/>
    </div>
  </div>

  @if (metadata && metadata.definitions && metadata.definitions.length > 0) {

    <div class="flex flex-col items-start">

      <h1 class="text-start m-2 font-bold w-2/3 border-b-4 border-gray-200 rounded">{{ t('extra-metadata.title') }}</h1>

      <div class="flex flex-col space-y-4 w-full">
        @for (meta of metadata.definitions; track meta.key) {
          <div class="flex flex-col md:flex-row flex-grow w-full items-start md:items-center">
            <label [for]="meta.key" [pTooltip]="meta.tooltip" tooltipPosition="bottom" class="w-full md:w-1/2 text-start md:text-center">{{ meta.title }}</label>

            <div class="flex flex-row w-full md:w-1/2 justify-center">
              @switch (meta.formType) {
                @case (DownloadMetadataFormType.SWITCH) {
                  <p-toggle-switch [id]="meta.key"
                                   [ngModel]="Boolean(meta.defaultOption)"
                                   (onChange)="changeChoice(meta, $event.checked)"/>
                }
                @case (DownloadMetadataFormType.DROPDOWN) {
                  <p-select styleClass="w-full"
                            size="small"
                            variant="filled"
                            [placeholder]="meta.title"
                            [ngModel]="meta.defaultOption"
                            optionLabel="value"
                            optionValue="key"
                            [options]="meta.options"
                            (onChange)="changeChoice(meta, $event.value)"
                            [id]="meta.key"/>
                }
                @case (DownloadMetadataFormType.MULTI) {
                  <p-multiSelect [filter]="false"
                                 [selectAll]="false"
                                 size="small"
                                 variant="filled"
                                 [showToggleAll]="false"
                                 styleClass="w-full"
                                 [placeholder]="meta.title"
                                 [ngModel]="meta.defaultOption"
                                 optionLabel="value"
                                 optionValue="key"
                                 [options]="meta.options"
                                 (onChange)="changeChoice(meta, $event.value)"
                                 [id]="meta.key"/>
                }
                @case (DownloadMetadataFormType.TEXT) {
                  <input pInputText #inputElement (change)="changeChoice(meta, inputElement.value)"/>
                }
              }
            </div>
          </div>
        }
      </div>
    </div>
  }

  <div class="flex w-full flex-grow justify-end gap-4 mt-10">
    <p-button (click)="close()" [label]="t('cancel') | titlecase" severity="secondary"/>
    <p-button (click)="download()" [label]="t('download')" />
  </div>
</div>
