@if (page !== undefined) {
  <div class="justify-items-center" *transloco="let t;prefix:'page'">

    <!-- TODO: Search form -->

    <section id="search-results" class="flex flex-col space-y-2 pt-5 mb-10">
      @if (searchResult.length > 0) {
        <div class="results-grid">
          @for (res of toShowResults(); track res.InfoHash) {
            <app-search-result [dir]="getDir()" [metadata]="getDownloadMetadata(res.Provider)" [page]="page"
                               [searchResult]="res" [providers]="providers" [@fadeAnimation]></app-search-result>
          }
        </div>
      }
    </section>
  </div>
}
