<div class="flex w-full flex-col px-2" *transloco="let t; prefix: 'account'">

  <form [formGroup]="accountForm" (ngSubmit)="saveAccount()" class="space-y-6">
    <h2 class="text-2xl font-bold mt-4 mb-2">{{ t('title') }}</h2>

    @if (getFormControl(accountForm, 'username'); as username) {
      <app-form-input [control]="username" [title]="t('username.label')" [subTitle]="t('username.subTitle')" />
    }

    @if (getFormControl(accountForm, 'email'); as email) {
      <app-form-input [control]="email" type="email" [title]="t('email.label')" [subTitle]="t('email.subTitle')" />
    }

    <div class="flex justify-end pt-4">
      <p-button type="submit" severity="primary">{{ t('save') | titlecase }}</p-button>
    </div>
  </form>

  <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" class="space-y-6 mt-10">
    <div class="border-t border-black dark:border-white pt-6"></div>

    <h3 class="text-xl font-semibold mb-2">{{ t('password.title') }}</h3>

    @if (getFormControl(passwordForm, 'oldPassword'); as oldPassword) {
      <app-form-input [control]="oldPassword" type="password" [title]="t('oldPassword.label')" />
    }

    @if (getFormControl(passwordForm, 'password'); as password) {
      <app-form-input [control]="password" type="password" [title]="t('password.label')" />
    }

    @if (getFormControl(passwordForm, 'confirmPassword'); as confirmPassword) {
      <app-form-input [control]="confirmPassword" type="password" [title]="t('confirm.label')" />
    }

    <div class="flex justify-end pt-4">
      <p-button type="submit" severity="primary">{{ t('password.save') | titlecase }}</p-button>
    </div>
  </form>
</div>
