@if (edit) {
  <form [formGroup]="form" (ngSubmit)="submit()" class="w-full flex flex-col md:flex-row items-center p-2 bg-white dark:bg-gray-800 rounded shadow">

    <div class="mr-2 hover:cursor-pointer">
      <ng-icon name="heroChevronLeft" size="48" (click)="toggleEdit()"></ng-icon>
    </div>

    <input
      [type]="'text'"
      [name]="'name'"
      [id]="'name'"
      class="focus:ring-primary-600 focus:border-primary-600 block w-full md:w-1/4 rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 sm:text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
      [formControlName]="'name'"
    />

    <div class="w-full flex flex-row justify-center">
      <app-permissions-settings [user]="user" [pageForm]="form"></app-permissions-settings>
    </div>

    <div class="w-full md:w-1/6 flex flex-row justify-center">
      <button
        type="submit"
        class="w-full dark:bg-primary-600 dark:hover:bg-primary-700 rounded-lg bg-blue-600 px-2 py-1 text-center text-sm font-medium text-white hover:bg-blue-700"
      >
        Save
      </button>
    </div>

  </form>
} @else {
  <div class="w-full flex flex-row space-x-6 md:space-x-3 p-2 md:p-3 bg-white dark:bg-gray-800 rounded shadow">
    <ng-icon name="heroUser" size="48"></ng-icon>

    <div class="flex flex-col justify-center w-full hover:cursor-pointer" (click)="toggleEdit()">
      <h1 class="text-xl">{{ user.name }}</h1>
    </div>

    <div class="flex flex-row items-center">
      <ng-icon name="heroArrowPath" size="16" class="hover:cursor-pointer" (click)="resetPassword()"></ng-icon>
    </div>

    <div class="flex flex-row items-center">
      <ng-icon name="heroMinus" size="16" class="hover:cursor-pointer" (click)="deleteUser()"></ng-icon>
    </div>

  </div>
}
