<div class="d-flex w-100 flex-grow-1 flex-column" *transloco="let t; prefix: 'settings.server'">
  @if (settingsForm !== undefined && config() !== undefined) {
    <form [formGroup]="settingsForm" class="w-100 px-2" (ngSubmit)="save()">
      <div class="d-flex flex-column align-items-center gap-4">

        <div class="w-100">
          <h2 class="h2 fw-bold mt-4 mb-4">{{ t('general') }}</h2>

          <div class="d-flex flex-column gap-3">
            @if (getFormControl('rootDir'); as rootDir) {
              <app-settings-item [control]="rootDir" [title]="t('root-dir')">
                <ng-template #view>{{ rootDir.value }}</ng-template>
                <ng-template #edit>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="rootDir"
                  />
                </ng-template>
              </app-settings-item>
            }

            @if (getFormControl('baseUrl'); as baseUrl) {
              <app-settings-item [control]="baseUrl" [title]="t('base-url')">
                <ng-template #view>{{ baseUrl.value | defaultValue }}</ng-template>
                <ng-template #edit>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="baseUrl"
                  />
                </ng-template>
              </app-settings-item>
            }


            @if (getFormControl('cacheType'); as cacheType) {
              @if (cacheType; as control) {
                <app-settings-item
                  [control]="control"
                  [title]="t('cache.label')"
                  [tooltip]="t('cache.subTitle')"
                >
                  <ng-template #view>
                    {{ t('cache.' + control.value.toLowerCase()) }}
                  </ng-template>

                  <ng-template #edit>
                    <select class="form-control" formControlName="cacheType">
                      @for (ct of CacheTypes; track ct.key) {
                        <option [value]="ct.value">{{ t('cache.' + ct.key) }}</option>
                      }
                    </select>
                  </ng-template>
                </app-settings-item>
              }

            }

            @switch (settingsForm.value.cacheType) {
              @case (CacheType.REDIS) {
                @if (getFormControl('redisAddr'); as control) {
                  <app-settings-item
                    [control]="control"
                    [title]="t('redis-address')"
                  >
                    <ng-template #view>{{ control.value | defaultValue }}</ng-template>

                    <ng-template #edit>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="redisAddr"
                      />
                    </ng-template>
                  </app-settings-item>
                }

              }
            }
          </div>
        </div>

        <div class="w-100">
          <hr class="border mt-5" />
          <h2 class="h2 fw-bold mt-4 mb-4">{{ t('downloader') }}</h2>

          <div class="d-flex flex-column gap-3">
            @if (getFormControl('maxConcurrentTorrents'); as control) {
              <app-settings-item
                [control]="control"
                [title]="t('max-torrents.label')"
                [tooltip]="t('max-torrents.subTitle')"
              >
                <ng-template #view>{{ control.value }}</ng-template>

                <ng-template #edit>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="maxConcurrentTorrents"
                  />
                </ng-template>
              </app-settings-item>
            }

            @if (getFormControl('maxConcurrentImages'); as control) {
              <app-settings-item
                [control]="control"
                [title]="t('max-images.label')"
                [tooltip]="t('max-images.subTitle')"
              >
                <ng-template #view>{{ control.value }}</ng-template>

                <ng-template #edit>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="maxConcurrentImages"
                  />
                </ng-template>
              </app-settings-item>
            }


          </div>
        </div>

        <div class="w-100">
          <hr class="border mt-5" />
          <h2 class="h2 fw-bold mt-4 mb-4">{{ t('oidc.title') }}</h2>

          <div class="d-flex flex-column gap-3">
            @if (getFormControl('oidc.authority'); as control) {
              <app-settings-item
                [control]="control"
                [title]="t('oidc.authority.label')"
                [tooltip]="t('oidc.authority.subTitle')"
              >
                <ng-template #view>{{ control.value }}</ng-template>
                <ng-template #edit>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="oidc.authority"
                  />
                </ng-template>
              </app-settings-item>
            }

            @if (getFormControl('oidc.clientId'); as control) {
              <app-settings-item
                [control]="control"
                [title]="t('oidc.clientId.label')"
                [tooltip]="t('oidc.clientId.subTitle')"
              >
                <ng-template #view>{{ control.value }}</ng-template>
                <ng-template #edit>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="oidc.clientId"
                  />
                </ng-template>
              </app-settings-item>
            }

            @if (getFormControl('oidc.autoLogin'); as control) {
              <app-settings-switch [control]="control" [title]="t('oidc.autoLogin.label')" [tooltip]="t('oidc.autoLogin.subTitle')">
                <ng-template #switch>
                  <div class="form-check form-switch" formGroupName="oidc">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="autoLogin"
                    />
                  </div>
                </ng-template>
              </app-settings-switch>
            }

            @if (getFormControl('oidc.disablePasswordLogin'); as control) {
              <app-settings-switch [control]="control" [title]="t('oidc.disablePasswordLogin.label')" [tooltip]="t('oidc.disablePasswordLogin.subTitle')">
                <ng-template #switch>
                  <div class="form-check form-switch" formGroupName="oidc">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      formControlName="disablePasswordLogin"
                    />
                  </div>
                </ng-template>
              </app-settings-switch>
            }
          </div>

        </div>

        <div class="d-flex w-100 justify-content-center justify-content-md-end mt-4">
          <button type="submit" class="btn btn-primary">{{ t('save') }}</button>
        </div>
      </div>
    </form>
  }
</div>
