<div class="flex w-full flex-grow" *transloco="let t;prefix:'settings.server'">

  @if (settingsForm !== undefined && config() !== undefined) {
    <form [formGroup]="settingsForm" class="w-full px-2" (ngSubmit)="save()">

      <div class="flex flex-col items-center space-y-4 md:space-y-0">
        <div class="w-full">
          <h3 class="w-2/5 border-b-2 border-black dark:border-white">{{ t('general') }}</h3>

          <div class="md:grid md:grid-cols-3 md:p-5 gap-10 mt-2 md:mt-0">
            <app-form-input [formGroup]="settingsForm" [label]="t('root-dir')" controlName="rootDir"></app-form-input>

            <app-form-input [formGroup]="settingsForm" [label]="t('base-url')" controlName="baseUrl"></app-form-input>
          </div>
        </div>

        <div class="w-full">

          <div class="md:grid md:grid-cols-4 md:p-5 gap-10">
            <app-form-select
              [pTooltip]="t('cache-type.tooltip')"
              tooltipPosition="bottom"
              [formGroupName]="'cache'"
              [formGroup]="settingsForm"
              [label]="t('cache-type.label')"
              controlName="cacheType"
              [options]="Object.values(CacheType)"
              [values]="Object.keys(CacheType)"
              (onChange)="cdRef.markForCheck()"
            />

            @switch (settingsForm.value.cache.cacheType) {
              @case (CacheType.REDIS) {
                <app-form-input
                  formGroupName="cache"
                  [formGroup]="settingsForm"
                  [label]="t('redis-address')"
                  controlName="redisAddr"
                  type="text"
                />
              }
            }
          </div>
        </div>

        <div class="flex flex-col w-full items-center ">
          <div class="w-full">
            <h3 class="w-2/5 border-b-2 border-black dark:border-white">{{ t('downloader') }}</h3>

            <div class="md:grid md:grid-cols-4 md:p-5 gap-10 mt-2 md:mt-0">
              <app-form-input
                [pTooltip]="t('max-torrents.tooltip')"
                tooltipPosition="bottom"
                [formGroupName]="'downloader'"
                [formGroup]="settingsForm"
                [label]="t('max-torrents.label')"
                controlName="maxConcurrentTorrents"
                type="number"
              />

              <app-form-input
                [pTooltip]="t('max-images.tooltip')"
                tooltipPosition="bottom"
                [formGroupName]="'downloader'"
                [formGroup]="settingsForm"
                [label]="t('max-images.label')"
                controlName="maxConcurrentImages"
                type="number"
              />
            </div>
          </div>
        </div>

        <div class="flex flex-col w-full items-center ">
          <div class="w-full">
            <h3 class="w-2/5 border-b-2 border-black dark:border-white">{{ t('oidc.title') }}</h3>

            <div class="md:grid md:grid-cols-4 md:p-5 gap-10 mt-2 md:mt-0">
              <app-form-input [formGroup]="settingsForm" [formGroupName]="'oidc'" [translationKey]="'settings.server.oidc.authority'" controlName="authority"></app-form-input>
              <app-form-input [formGroup]="settingsForm" [formGroupName]="'oidc'" [translationKey]="'settings.server.oidc.clientId'" controlName="clientId"></app-form-input>
              <app-form-input [formGroup]="settingsForm" [formGroupName]="'oidc'" [translationKey]="'settings.server.oidc.autoLogin'" controlName="autoLogin" type="switch"></app-form-input>
              <app-form-input [formGroup]="settingsForm" [formGroupName]="'oidc'" [translationKey]="'settings.server.oidc.disablePasswordLogin'" controlName="disablePasswordLogin" type="switch"></app-form-input>
            </div>
          </div>
        </div>

        <div class="flex w-full justify-center md:justify-end mt-10">
          <p-button type="submit" severity="primary" >{{ t('save') }}</p-button>
        </div>

      </div>

    </form>
  }
</div>
