<div [@dropDown] class="d-flex flex-column align-items-center justify-content-center" *transloco="let t; prefix:'dashboard'">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="h3 fw-bold text-dark dropdown-item">
      {{ t('no-content.title') }}
    </h1>

    <p class="dropdown-item">
      {{ t('no-content.p') }}
    </p>
  </div>

  <ul class="d-flex flex-column align-items-start justify-content-start gap-2 mt-2 list-unstyled">
    @for (page of pageService.pages(); track $index) {
      <li class="d-flex align-items-center text-center gap-2">
        <i class="fa fa-angles-right"></i>
        <a
          [routerLink]="['/page']"
          [queryParams]="{ index: page.ID }"
        >
          {{ page.title }}
        </a>
      </li>
    } @empty {
      <li class="d-flex align-items-center text-center gap-2">
        <button class="btn btn-primary" (click)="loadDefault()">
          {{ t('load-default') }}
        </button>
      </li>
    }
  </ul>
</div>
