<div class="pt-1 md:pt-5 mx-16">
  <p-table
    #subTable
    [value]="subscriptions"
    [(rows)]="size"
    [paginator]="subscriptions.length > size || size != 10"
    stripedRows
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="info.title">Title <p-sortIcon field="info.title"/> </th>
        <th pSortableColumn="info.lastCheck" style="width:10%">Last ran <p-sortIcon field="info.lastCheck"/></th>
        <th style="width:10%">Frequency</th>
        <th style="width:15%">Action</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="info.title"
            placeholder="Search by title"
            showMenu="false"
            matchMode="contains"
          />
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-sub>
      <tr>
        <th>
          <a
            class="hover:text-blue-800 hover:underline text-lg font-semibold"
            href="{{sub.contentId | subscriptionExternalUrl:sub.provider}}"
            target="_blank"
          >
            {{ sub.info.title }}
          </a>
        </th>
        <th>

          <p-tag [value]="sub.info.lastCheckSuccess ? 'Success' : 'Failing'"
                 [pTooltip]="(sub.info.lastCheck | date:'yyyy-MM-dd HH:mm:ss') ?? 'Unknown'"
                 tooltipPosition="top"
                 [severity]="sub.info.lastCheckSuccess ? 'success' : 'danger'"
          />
        </th>
        <th>
          <p-tag [value]="sub.refreshFrequency | refreshFrequency" [severity]="getSeverity(sub)"/>
        </th>
        <th>
          <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 md:space-x-5 my-2">

            <app-subscription-edit-dialog (update)="update($event)" [sub]="sub" [providers]="allowedProviders" [(visible)]="displayEditSubscription[sub.ID]" />

            <p-button (click)="edit(sub)" [rounded]="true" [text]="true"
                      pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" severity="info"/>

            <p-button (click)="runOnce(sub)" [rounded]="true" [text]="true"
                      pTooltip="Run Once" tooltipPosition="bottom" icon="pi pi-download" severity="success"/>

            <p-button (click)="delete(sub)" [rounded]="true" [text]="true"
                      pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" severity="danger"/>
          </div>
        </th>
      </tr>
    </ng-template>

  </p-table>
</div>
