<div class="flex flex-grow flex-col justify-between">

  <div class="mt-5">
    <p-steps [activeIndex]="index" [model]="sections"/>
  </div>

  @if (page !== undefined) {
    <div class="min-h-[75vh] p-5 md:px-20 mb-20 md:mb-0">
      @defer (when sections[index].id == PageWizardID.General; prefetch on idle) {
        @if (sections[index].id === PageWizardID.General) {
          <app-page-wizard-general [page]="page" (next)="navigateToPage(1)"/>
        }
      }

      @defer (when sections[index].id == PageWizardID.Dirs; prefetch on idle) {
        @if (sections[index].id === PageWizardID.Dirs) {
          <app-page-wizard-dirs [page]="page" (next)="navigateToPage(2)" (back)="navigateToPage(0)"/>
        }
      }

      @defer (when sections[index].id == PageWizardID.Modifiers; prefetch on idle) {
        @if (sections[index].id === PageWizardID.Modifiers) {
          <app-page-wizard-modifiers [page]="page" (next)="navigateToPage(3)" (back)="navigateToPage(1)"/>
        }
      }

      @defer (when sections[index].id == PageWizardID.Save; prefetch on idle) {
        @if (sections[index].id === PageWizardID.Save) {
          <app-page-wizard-save [page]="page" (back)="navigateToPage(2)"/>
        }
      }

    </div>
  } @else {
    <div class="min-h-[75vh] p-5 md:px-20 mb-20 md:mb-0">
      <p-card>
        <p-skeleton width="20rem" height="4rem"/>
        <p-skeleton height="5rem" styleClass="mt-2"/>
      </p-card>
    </div>
  }


</div>
