<p-dialog resizable="false" [header]="t('header')" [(visible)]="visible"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
          [contentStyle]="{ 'overflow-y': 'visible' }" (onShow)="refresh()"
          *transloco="let t;prefix:'subscriptions.dialog'"
>

  <div class="flex flex-col mb-2 space-y-5">

    <p-floatlabel variant="in">
      <input class="w-full overflow-clip" pInputText id="title" [(ngModel)]="copy.info.title">
      <label for="title">{{ t('title') }}</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-iconfield>
        <p-inputicon class="pi pi-external-link hover:cursor-pointer" (click)="openExternal()">
        </p-inputicon>
        <input class="w-full overflow-clip" pInputText id="content-id" [(ngModel)]="copy.contentId">
      </p-iconfield>
      <label for="content-id">{{ t('content-id') }}</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-iconfield>
        <p-inputicon class="pi pi-folder hover:cursor-pointer" (click)="dirBrowser = true">
        </p-inputicon>
        <input class="w-full overflow-clip" pInputText id="content-dir" [(ngModel)]="copy.info.baseDir">
      </p-iconfield>
      <label for="content-dir">{{ t('content-dir') }}</label>
    </p-floatlabel>

    <app-directory-selector [(visible)]="dirBrowser" [copy]="false" [root]="''" (resultDir)="updateDir($event)"  />

    <div class="flex flex-row space-x-2">
      <p-select [style]="{ width: '100%' }" [options]="RefreshFrequencies" [(ngModel)]="copy.refreshFrequency" />
      <p-select [style]="{ width: '100%' }" [options]="filteredProviders" [(ngModel)]="copy.provider" />
    </div>

    @if (metadata && metadata.definitions && metadata.definitions.length > 0) {

      <div class="flex flex-col items-start" *transloco="let t;prefix:'page.download-dialog'">

        <div class="flex flex-row items-center space-x-5 text-start m-2 font-bold w-2/3 border-b-4 border-gray-200 rounded">
          <span [class]="(hideMetadata ? 'pi pi-eye' : 'pi pi-eye-slash') + ' hover:cursor-pointer'" (click)="hideMetadata=!hideMetadata"></span>
          <h1>{{ t('extra-metadata.title') }}</h1>
        </div>

        <cdk-virtual-scroll-viewport *ngIf="!hideMetadata" itemSize="50" style="height: 200px"  class="flex flex-col w-full">
          <div *cdkVirtualFor="let meta of metadata.definitions" class="flex flex-col md:flex-row flex-grow w-full mt-8 md:mt-4 items-start md:items-center" style="height: 50px">
            <label [for]="meta.key" [pTooltip]="t('extra-metadata.' + meta.key+'.tooltip')" tooltipPosition="bottom"
                   class="w-full md:w-1/2 text-start md:text-center">
              {{ t('extra-metadata.' + meta.key+'.title') }}
            </label>

            <div class="flex flex-row w-full md:w-1/2 justify-center">
              @switch (meta.formType) {
                @case (DownloadMetadataFormType.SWITCH) {
                  <p-toggle-switch [id]="meta.key"
                                   [ngModel]="Boolean(getValues(meta))"
                                   (onChange)="changeChoice(meta, $event.checked)"/>
                }
                @case (DownloadMetadataFormType.DROPDOWN) {
                  <p-select styleClass="w-full"
                            size="small"
                            variant="filled"
                            [placeholder]="t('extra-metadata.' + meta.key+'.title')"
                            [ngModel]="getValues(meta)"
                            optionLabel="value"
                            optionValue="key"
                            [options]="meta.options"
                            (onChange)="changeChoice(meta, $event.value)"
                            [id]="meta.key"/>
                }
                @case (DownloadMetadataFormType.MULTI) {
                  <p-multiSelect [filter]="false"
                                 [selectAll]="false"
                                 size="small"
                                 variant="filled"
                                 [showToggleAll]="false"
                                 styleClass="w-full"
                                 [placeholder]="t('extra-metadata.' + meta.key+'.title')"
                                 [ngModel]="getValues(meta)"
                                 optionLabel="value"
                                 optionValue="key"
                                 [options]="meta.options"
                                 (onChange)="changeChoice(meta, $event.value)"
                                 [id]="meta.key"/>
                }
                @case (DownloadMetadataFormType.TEXT) {
                  <input pInputText #inputElement [ngModel]="getValues(meta)" (change)="changeChoice(meta, inputElement.value)"/>
                }
              }
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    }

    <div class="flex w-full flex-grow justify-end gap-4 mt-10">
      <p-button (click)="close()" [label]="t('cancel') | titlecase" severity="secondary"/>
      <p-button (click)="edit()" [label]="t('save') | titlecase"/>
    </div>

  </div>

</p-dialog>
