@if (metadata && metadata.definitions && metadata.definitions.length > 0) {

  <div class="flex flex-col items-start max-h-80 overflow-y-scroll" *transloco="let t;prefix:'page.download-dialog'">

    @if (showTitle) {
      <div class="flex flex-row items-center space-x-5 text-start p-2 font-bold w-2/3 border-b-4 border-gray-200 rounded">
        @if (canHideMetadata) {
          <span [class]="(hideMetadata ? 'fa fa-eye' : 'fa fa-eye-slash') + ' hover:cursor-pointer'" (click)="hideMetadata=!hideMetadata"></span>
        }
        <h1>{{ t('extra-metadata.title') }}</h1>
      </div>
    }



    @if (!hideMetadata) {
      @for (meta of metadata.definitions; track meta.key) {
        <div class="flex flex-col md:flex-row flex-grow w-full mt-8 md:mt-4 items-start md:items-center" >
          <label [for]="meta.key" [ngbTooltip]="t('extra-metadata.' + meta.key+'.tooltip')" tooltipPosition="bottom"
                 class="w-full md:w-1/2 text-start md:text-center">
            {{ t('extra-metadata.' + meta.key+'.title') }}
          </label>

          <div class="flex flex-row w-full md:w-1/2 justify-center">
            @switch (meta.formType) {
              @case (DownloadMetadataFormType.SWITCH) {
                <input class="form-switch" [id]="meta.key" [ngModel]="Boolean(getValues(meta))" (ngModelChange)="changeChoice(meta, $event.checked)">
              }
              @case (DownloadMetadataFormType.DROPDOWN) {

                <select [id]="meta.key" class="form-select" [ngModel]="getValues(meta)" (ngModelChange)="changeChoice(meta, $event.value)">
                  @for (opt of meta.options; track opt.key) {
                    <option [value]="opt.key">{{opt.value}}</option>
                  }
                </select>
              }
              @case (DownloadMetadataFormType.MULTI) {
                <!-- TODO: Multi select -->
              }
              @case (DownloadMetadataFormType.TEXT) {
                <input #inputElement [ngModel]="getValues(meta)" (input)="changeChoice(meta, inputElement.value)"/>
              }
            }
          </div>
        </div>
      }
    }
  </div>
}
