@if (navService.showNav$ | async) {

  <div class="card flex flex-row justify-between bg-gray-50 dark:bg-gray-700 p-5 items-center">

    <div class="flex flex-row space-x-2 items-center">
      <img
        class="mr-2 h-8 w-8 hidden md:block"
        src="media_logo.svg"
        alt="logo"
      />
      <p-menubar class="min-w-32 md:min-w-0 " [model]="pageItems"/>
    </div>

    @if (notifications > 0) {
      <p-menubar pBadge [value]="notifications" [severity]="severity()" class="min-w-48 md:min-w-0" [model]="accountItems"/>
    } @else {
      <p-menubar class="min-w-48 md:min-w-0" [model]="accountItems"/>
    }
  </div>
}
