<p-card [header]="t('header')" *transloco="let t;prefix:'settings.pages.wizard.modifiers'">

  <p-fieldset [toggleable]="true" [legend]="t('explanation.legend')">
    <p class="py-2 px-2 md:px-5">
      {{ t('explanation.p1') }}
      <a class="hover:underline text-blue-400" href="https://fesaa.github.io/Media-Provider/" target="_blank">
        {{ t('explanation.link') }}
      </a>
      {{ t('explanation.p2') }}
      <br> <br>
      {{ t('explanation.p3') }}
      <p-fieldset [collapsed]="true" [toggleable]="true" [legend]="t('kinds.legend')">
        <p-fieldset [legend]="t('kinds.dropdown.legend')">
          {{ t('kinds.dropdown.desc') }}
        </p-fieldset>

        <p-fieldset [legend]="t('kinds.multi-select.legend')">
          {{ t('kinds.multi-select.desc') }}
        </p-fieldset>
      </p-fieldset>

    </p>
  </p-fieldset>

  <div class="md:p-5 mb-2 flex flex-col">
    <div class="w-full flex flex-col space-y-5" cdkDropList (cdkDropListDropped)="drop($event)">

      <p-card *ngFor="let mod of page.modifiers" cdkDrag>
        <div class="flex flex-row justify-between">
          <div class="flex flex-row justify-between items-center space-x-5">
            <span class="pi pi-arrows-alt hover:cursor-pointer" cdkDragHandle></span>
            <span>{{mod.title}}</span>
          </div>
          <div class="flex flex-row space-x-5">
            <span (click)="show(mod)" class="pi pi-pencil hover:cursor-pointer"></span>
            <span (click)="delete(mod)" class="pi pi-trash hover:cursor-pointer"></span>
          </div>
        </div>

        <app-modifier-edit-modal [mod]="mod" [modifierVisible]="modifierVisible" />
      </p-card>
    </div>

    <div class="w-full flex flex-row justify-end">
      <p-button (onClick)="addNewModifier()" severity="secondary" styleClass="my-2">
        {{ t('add-new') }}
      </p-button>
    </div>

    @if (editModifier !== null) {
      <app-modifier-edit-modal [mod]="editModifier" [modifierVisible]="modifierVisible" (onClose)="closeEdit()" />
    }

  </div>


  <div class="flex flex-row w-full justify-between items-center my-5">
    <div (click)="back.emit()"
         class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-500 text-white rounded-lg shadow-md hover:from-blue-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 hover:cursor-pointer">
      {{ t('back') | titlecase }}
    </div>

    <div (click)="nextCallback()"
         class="px-4 py-2 bg-gradient-to-r from-blue-500 to-blue-500 text-white rounded-lg shadow-md hover:from-blue-600 hover:to-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 hover:cursor-pointer">
      {{ t('next') | titlecase }}
    </div>
  </div>

</p-card>
