<div class="flex flex-col w-full items-center text-black dark:text-white mb-10">
  <div class="flex flex-col w-full md:w-11/12 items-center py-1 md:py-5 px-2 md:p-10">

    <div
      class="flex flex-row justify-between w-full space-x-2 border-b-2 border-black-100 dark:border-white items-center">
      <div class="text-xl md:text-4xl">
        Settings
      </div>
      <div class="block md:hidden hover:cursor-pointer pi pi-sliders-h" style="font-size: 1.5rem" (click)="toggleMobile()">
      </div>
    </div>

    <div class="flex flex-col md:flex-row w-full mt-2 md:mt-10">

      <div class="hidden md:flex flex-col space-y-4">
        @for (setting of settings; track setting.id) {
          @if (canSee(setting.id)) {
            <p-button
              [label]="setting.title"
              [icon]="'pi ' + setting.icon"
              (click)="setSettings(setting.id)"
              [badge]="setting.badge ? String(setting.badge) : ''"
              severity="secondary"
            />
          }
        }
      </div>

      <div class="w-full">

        @if (showMobileConfig) {
          <div class="flex w-full md:hidden flex-col" [@dropDown]>
            @for (setting of settings; track setting.id) {

              @if (canSee(setting.id)) {
                <div (click)="setSettings(setting.id)"
                     class="dropdown-item flex flex-row space-x-2 items-center rounded-xl hover:cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-950 p-2 {{selected === setting.id ? 'bg-gray-200 dark:bg-gray-950': '' }}">
                  <span [class]="setting.icon"></span>
                  <span class="hover:cursor-pointer">{{ setting.title }}</span>
                </div>
              }

            }
          </div>
        }

        @defer (when selected == SettingsID.Server; prefetch on idle) {
          @if (selected === SettingsID.Server && canSee(SettingsID.Server)) {
            <div class="mt-5 md:ml-5">
              <app-server-settings></app-server-settings>
            </div>
          }
        }

        @defer (when selected == SettingsID.Preferences; prefetch on idle) {
          @if (selected === SettingsID.Preferences && canSee(SettingsID.Preferences)) {
            <div class="mt-5 md:ml-5">
              <app-preference-settings></app-preference-settings>
            </div>
          }
        }

        @defer (when selected == SettingsID.Notifications; prefetch on idle) {
          @if (selected === SettingsID.Notifications && canSee(SettingsID.Notifications)) {
            <div class="mt-5 md:ml-5">
              <app-notifications></app-notifications>
            </div>
          }
        }

        @defer (when selected == SettingsID.Pages; prefetch on idle) {
          @if (selected === SettingsID.Pages && canSee(SettingsID.Pages)) {
            <div class="md:ml-5">
              <app-pages-settings></app-pages-settings>
            </div>
          }
        }

        @defer (when selected == SettingsID.User; prefetch on idle) {
          @if (selected === SettingsID.User && canSee(SettingsID.User)) {
            <div class="mt-5 md:ml-5">
              <app-user-settings></app-user-settings>
            </div>
          }
        }

      </div>
    </div>
  </div>
</div>
