<div class="flex w-full flex-grow" *transloco="let t; prefix: 'settings.preferences'">
  @let pref = preferences();
  @if (preferencesForm && pref) {
    <form class="flex flex-col flex-grow gap-4 gap-y-8 md:gap-y-4" [formGroup]="preferencesForm">

      <div class="preference-item">
        <label for="subscriptionRefreshHour">
          {{ t('sub-refresh.label') }}
        </label>
        <input class="form-control" type="number" id="subscriptionRefreshHour" formControlName="subscriptionRefreshHour" [max]="23" [min]="0">
      </div>

      <div class="preference-item">
        <label class="flex-grow" for="logEmptyDownloads">{{ t('empty-download-notification') }}</label>
        <input class="form-control form-check form-switch" type="checkbox" id="logEmptyDownloads" formControlName="logEmptyDownloads">
      </div>

      <div class="preference-item">
        <label class="flex-grow" for="convertToWebp">{{ t('convertToWebp') }}</label>
        <input class="form-control form-check form-switch" type="checkbox" id="convertToWebp" formControlName="convertToWebp">
      </div>

      <div class="preference-item">
        <label class="flex-grow" for="coverFallbackMethod">{{ t('cover-fallback-method') }}</label>
        <select class="form-select" id="coverFallbackMethod" formControlName="coverFallbackMethod">
          @for (opt of CoverFallbackMethods; track opt.value) {
            <option [value]="opt.value">{{ opt.label }}</option>
          }
        </select>
      </div>

      <div class="preference-item">
        @if (preferencesForm.get('blackList'); as formControl) {
          <app-settings-item [control]="formControl" [title]="t('tags-blacklist-label')" [subtitle]="t('tags-blacklist-tooltip')">
            <ng-template #view>
              @let val = breakString(formControl.value);

              @for(opt of val; track opt) {
                <app-tag-badge>{{opt.trim()}}</app-tag-badge>
              } @empty {
                -
              }
            </ng-template>

            <ng-template #edit>
              <textarea rows="3" id="blacklist" class="form-control"  formControlName="blackList"></textarea>
            </ng-template>

          </app-settings-item>
        }
      </div>

      <div class="preference-item">
        @if (preferencesForm.get('whiteList'); as formControl) {
          <app-settings-item [control]="formControl" [title]="t('tags-whitelist-label')" [subtitle]="t('tags-whitelist-tooltip')">
            <ng-template #view>
              @let val = breakString(formControl.value);

              @for(opt of val; track opt) {
                <app-tag-badge>{{opt.trim()}}</app-tag-badge>
              } @empty {
                -
              }
            </ng-template>

            <ng-template #edit>
              <textarea rows="3" id="whiteList" class="form-control"  formControlName="whiteList"></textarea>
            </ng-template>

          </app-settings-item>
        }
      </div>

      <div class="preference-item">
        @if (preferencesForm.get('tagToGenre'); as formControl) {
          <app-settings-item [control]="formControl" [title]="t('tags-to-genre-label')" [subtitle]="t('tags-to-genre-tooltip')">
            <ng-template #view>
              @let val = breakString(formControl.value);

              @for(opt of val; track opt) {
                <app-tag-badge>{{opt.trim()}}</app-tag-badge>
              } @empty {
                -
              }
            </ng-template>

            <ng-template #edit>
              <textarea rows="3" id="tagToGenre" class="form-control"  formControlName="tagToGenre"></textarea>
            </ng-template>

          </app-settings-item>
        }
      </div>

      <div class="preference-item">
        <label class="flex-grow">{{ t('age-rating-mappings.label') }}</label>
        <button class="btn btn-secondary" (click)="displayAgeRatingMappingDialog = true">
          {{ t('configure') }}
        </button>
        <app-age-rating-mappings [(showDialog)]="displayAgeRatingMappingDialog" [preferences]="pref" />
      </div>

      <div class="preference-item">
        <label class="flex-grow">{{ t('tags-mappings.label') }}</label>
        <button class="btn btn-secondary" (click)="displayTagMappingDialog = true">
          {{ t('configure') }}
        </button>
        <app-tag-mappings [(showDialog)]="displayTagMappingDialog" [preferences]="pref" />
      </div>
    </form>
  }
</div>
